<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
	<title>{{page_title}}</title>
	<style type="text/css">
		body {
				padding-top: 50px;
		}
		.page {
			width: 80%;
			display: block;
			margin: auto;
			margin-top: 48px;
			padding: 2em;
			border-radius: 5px;
		}
		.navbar-brand {
			padding: 0 3em 0 7em;
		}
		.btn-secondary i {
			color: white;
		}
		{% block extra_styling  %}
			
		{% endblock extra_styling %}
	</style>
</head>
<body>
		
		{% block navbar %}
			<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
				<a href="/"><i class="fas fa-home"></i></a>
				<span class="navbar-brand" href="#">{{page_title}}</span>
				<!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPlants" aria-controls="navbarPlants" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button-->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Plants
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'plant_species_home' %}">Catalogue</a>
							<a class="dropdown-item" href="{% url 'plant_species_add' %}">Add species</a>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sources
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'plant_source_list' %}">Listings</a>
							<a class="dropdown-item" href="{% url 'plant_source_add' %}">Add source</a>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Planner
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'year_view' %}">Plant calendar</a>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Design
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'designs_index' %}">View</a>
                            <a class="dropdown-item" href="{% url 'designs_designer' %}">Create</a>
						</div>
					</li>
                </ul>
				<div class="navbar-right">
					<div class="collapse navbar-collapse" id="navbarPlants">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-user-circle"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="text-align:right;">
									<span class="dropdown-item disabled" href="">Logged in as {{request.user.username}}</span>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="">My profile</a>
									<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		{% endblock navbar %}

		
		<div class="page {% block page_classes %}bg-light{% endblock page_classes %}">
			{% block content %}
			{% endblock content %}
		</div>
		


		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
